# --- API (ASP.NET) ---
App_ExternalPort=5000
App_InternalPort=8080

# --- MONGODB ---
# HOST: A variavel de ambiente MongoDbSettings__Host quando for executar via Visual Studio usa 'localhost' e porta 27017 e Docker usa o 'mongo' 
MongoDbSettings__Host=localhost
MongoDbSettings__Port=27017
MongoDbSettings__User=admin
MongoDbSettings__Password=admin123
MongoDbSettings__DatabaseName=FinancasDb

# --- MONGOEXPRESS ---
MongoExpress_ExternalPort=8081
MongoExpress_InternalPort=8081

# --- REDIS ---
# HOST: A variavel de ambiente RedisSettings__Host quando for executar via Visual Studio usa 'localhost' e porta 6379 e Docker usa o 'redis' 
RedisSettings__Host=localhost
RedisSettings__Port=6379
RedisSettings__Password=admin123

# --- REDISCOMMANDER ---
RedisCommander_ExternalPort=8082
RedisCommander_InternalPort=8081

# --- JWT SETTINGS ---
# Chave de 512-bit para garantir segurança máxima no teste técnico
JwtSettings__Secret=7f83b1627ff1ae7db94475e7a96446a84d4376c761922c22976785675e07662c
JwtSettings__Issuer=FinancasApp
JwtSettings__Audience=FinancasUsers
JwtSettings__ExpirationInHours=8