# --- API (ASP.NET) ---
App_ExternalPort=5000
App_InternalPort=8080

# --- UI PORTS ---
UI_ExternalPort=3000
UI_InternalPort=5173
VITE_API_URL=http://localhost:5000/api

# --- MONGODB ---
MongoDbSettings__Host=mongo
MongoDbSettings__Port=27017
MongoDbSettings__User=admin
MongoDbSettings__Password=admin123
MongoDbSettings__DatabaseName=FinancasDb

# --- MONGOEXPRESS ---
MongoExpress_ExternalPort=8081
MongoExpress_InternalPort=8081

# --- REDIS ---
RedisSettings__Host=redis
RedisSettings__Port=6379
RedisSettings__Password=admin123
RedisSettings__CacheExpirationInHours=4

# --- REDISCOMMANDER ---
RedisCommander_ExternalPort=8082
RedisCommander_InternalPort=8081

# --- JWT SETTINGS ---
JwtSettings__Secret=7f83b1627ff1ae7db94475e7a96446a84d4376c761922c22976785675e07662c
JwtSettings__Issuer=FinancasApp
JwtSettings__Audience=FinancasUsers
JwtSettings__ExpirationInHours=8

# --- CORS ----
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:8080